{% extends 'base/base.html' %}
{% block content %}
<h2 style="color: white; margin-top: 50px; font-size: 18px;">Услуги</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: start; justify-content: space-between;">
    {% for n in services %}
       <div class="panel-services" style="min-height: 340px; display: flex; flex-direction: column; align-content: stretch; justify-content: space-between;">
               <h5 class="title-h">{{ n.title }}</h5>
               <p class=" panel-content" style="min-height: 216px;">{{ n.description }} </p>
               <div class="d-flex justify-content-between" style="font-size: 10px;">
                    <p>{{ n.date }} </p>
                    <button type="button" class="btn rounded-pill" style="width: 150px; background-color: #6564c4; color: white;">Заказать услугу</button>
               </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}